@model WebBeerApp.ViewModels.RecipeFormViewModel
@{
    ViewBag.Title = "AddHop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddHop</h2>

<p>@Model.BeerRecipe.Name</p>

@using (Html.BeginForm())
{
<table class="table table-bordered table-hover">
    <tr>
        <td>Hop Name</td>
        <td>Hop Weight</td>
        <td>Alfa Acid</td>
        <td>Boiling Time</td>
    </tr>
    @foreach (var hops in Model.Hops)
    {
    <tr>
        <td>@hops.Name</td>
        <td>@hops.Weight</td>
        <td>@hops.AlfaAcid</td>
        <td>@hops.TimeOfBoiling</td>
    </tr>
    }
</table>
}

@using (Html.BeginForm("Save", "Beer"))
{
    <div class="form-group">
        @Html.TextBoxFor(h => h.BeerRecipe.Name)

    </div>
}

